.flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 30px;
}

/************* СЛАЙДЕР *************/

.slider__item {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 40px;
	position: relative;
}

.slider__item.mentors {
	width: 26%;
	margin-bottom: 30px;
}

.slider__item:not(.slider):before {
	display: none;
}

.slider__item img {
	width: 100%;
}

.slide__img {
	width: 100%;
}

/************* /СЛАЙДЕР ************/

.form {
	width: 600px;
	margin: 0 auto;
}

.form img {
	width: 100%;
	margin-bottom: 30px;
}

.news__title {
	font-size: 22px;
	font-weight: bold;
}

.border {
	width: 100%;
	padding: 30px;
	border: 1px solid var(--blue);
}