* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

*:active, *:focus {
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.hidden {
	display: none;
}

a:hover {
	text-decoration: none !important;
}

section {
	margin-top: 30px;
}

:root {
	--blue: #0096FC !important;
	--blue-darken: #0054a8 !important;
	--light-blue: #BAEFFC !important;
	--red: #FF7E64 !important;
	--yellow: #FFD25D !important;
}

.no-transition * {
	transition: none;
}

::-webkit-scrollbar-button {
	width: 5px;
	height: 0;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: var(--blue);
}

::-webkit-scrollbar {
	width: 5px;
}

/************* ОБЩИЕ СТИЛИ *************/
.wp {
	width: 1200px;
	margin: 0 auto;
}

.title {
	text-transform: uppercase;
	color: var(--blue);
}

.hor-center {
	text-align: center;
}

.hor-right {
	text-align: right;
}

.hor-left {
	text-align: left;
}

.text {
	font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/************* /ОБЩИЕ СТИЛИ ************/

/************* ШАПКА *************/
#hat {
	width: 100%;
	background-image: url('../img/bg_home.png');
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 50px;
}

#menu {
	padding: 30px 30px 15px;
	background: #fff;
	color: var(--blue);
	display: flex;
	list-style: none;
	justify-content: space-around;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	border: 1px solid var(--blue);
	transition: .4s;
}

.menu__item {
	cursor: pointer;
	transition: color .4s;
}

.menu__item:hover {
	color: var(--blue-darken);
}

.san-menu {
	width: 50px;
	cursor: pointer;
	position: fixed;
	z-index: 10;
	top: 10px;
	right: 10px;
	padding: 10px;
	background: var(--blue);
	border-radius: 10px;
	display: none;
}

.san-menu div {
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 4px;
}

.close {
	display: none;
}

.hat__item {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background: #fff;
	border-radius: 20px;
	margin-top: 40px;
}

#slider {
	width: 800px;
	min-height: 500px;
}

.slick-list, .slider__item, .slick-track {
	width: 100%;
	height: 100%;
}

.slider__item {
	background-size: cover;
	background-position: center center;
	position: relative;
}

.slider__item:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
}

.slide__description {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.slick-dots li button {
	font-size: 0 !important;
	line-height: 0;
	display: block !important;
	width: 20px;
	height: 20px;
	padding: 5px !important;
	cursor: pointer;
	color: transparent !important;
	border: 0 !important;
	outline: none;
	background: transparent !important;
}

/************* ФОРМА ОБРАТНОЙ СВЯЗИ *************/
#callback-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.form__group {
	width: 100%;
}

.form__group input, .form__group textarea, .form__group select {
	width: 100%;
	background: var(--light-blue);
	border-radius: 10px;
	border: transparent;
	font-size: 20px;
	padding: 10px;
}

.form__group textarea {
	height: 100px;
}

.field-title {
	color: var(--blue);
	font-size: 20px;
	margin-bottom: 5px;
}

button {
	text-transform: uppercase !important;
	background: var(--light-blue) !important;
	color: var(--blue) !important;
	display: inline-block !important;
	padding: 10px 25px !important;
	font-size: 20px !important;
	border: transparent !important;
	border-radius: 20px !important;
	cursor: pointer !important;
	transition: background .4s !important;
}

button:hover {
	background: var(--blue-darken) !important;
}

/************* /ФОРМА ОБРАТНОЙ СВЯЗИ ************/

/************* /ШАПКА ************/

/************* ВСЯКИЙ ХЛАМ *************/
#stuff {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#stuff .half_item {
	width: 45%;
	margin-bottom: 40px;
}

.full_item {
	width: 100%;
}

.top {
	position: relative;
	text-align: center;
	margin-bottom: 10px;
}

.top .line {
	width: 100%;
	height: 4px;
	background: var(--red);
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 2;
}

.top .circle {
	padding: 20px;
	background-color: var(--red);
	border-radius: 50%;
	border: 5px solid #fff;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.top .circle img {
	width: 50px;
}

.top.yellow .line, .top.yellow .circle {
	background: var(--yellow);
}

#stuff .text {
	font-size: 18px;
	text-align: center;
}

/************* /ВСЯКИЙ ХЛАМ ************/

/************* НАСТАВНИКИ *************/
#mentors {
	width: 100%;
	min-height: 500px;
	background-image: url('../img/bg_clouds_light.png');
	background-size: 100% 100%;
	padding: 40px;
}

#mentors .title {
	font-size: 30px;
}

.list__items {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.list__item {
	width: 26%;
	min-height: 200px;
	padding: 10px 20px;
	background: #fff;
	border-radius: 20px;
	margin-bottom: 30px;
}

.item__photo {
	width: 100%;
}

.item__photo img {
	width: 100%;
}

.item__info {
	margin-top: 15px;
	font-size: 19px;
	text-align: center;
}

/************* /НАСТАВНИКИ ************/

/************* АЛЬБОМЫ *************/
.albums__items {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	flex-wrap: wrap;
}

.albums__item {
	width: 30%;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	display: block;
}

.album__title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	color: #000;
}

.album__preview {
	position: relative;
	height: 200px;
	background-size: cover;
	background-position: center center;
	border-radius: 20px;
	overflow: hidden;
}

.album__preview img {
	width: 100%;
	transition: .4s;
	cursor: pointer;
}

.album__preview:hover img {
	transform: scale(1.1);
}

.albums__item .view-hidden {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	background: rgba(0, 0, 0, .6);
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	transition: top .4s;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.albums__item:hover .view-hidden {
	top: 0;
}

/************* /АЛЬБОМЫ ************/

/************* ОТЗЫВЫ *************/
.callback__items {
	display: flex;
	justify-content: space-around;
	/*align-items: center;*/
	flex-wrap: wrap;
}

.callback__item {
	width: 40%;
	text-align: center;
	margin-bottom: 40px;
}

.callback__name {
	padding: 5px 20px;
	background: var(--yellow);
	font-size: 25px;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	margin-bottom: 15px;
}

.callback__comment {
	font-size: 20px;
}

/************* /ОТЗЫВЫ ************/

/************* КОНТАКТЫ *************/
#contacts {
	width: 100%;
	min-height: 400px;
	background-image: url('../img/bg_clouds.png');
	background-size: 100% 100%;
	padding: 40px;
	position: relative;
	z-index: 3;
}

#contacts .wp > div {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	color: #fff;
}

#contacts .title {
	color: #fff;
}

#contacts .mail_icon img {
	width: 40px;
}

.contacts__item {
	width: 30%;
}

.contacts__callback {
	width: 60%;
}

.contacts__form {
	display: flex;
	justify-content: space-between;
}

.contacts__form > div {
	width: 45%;
}

.contacts__form .field-title {
	color: #fff;
}

.contacts__info {
	display: flex;
	/*justify-content: space-between;*/
	margin-top: 20px;
}

.contacts__info img {
	width: 70px;
	height: 100%;
	margin-right: 10px;
}
/************* /КОНТАКТЫ ************/

/************* КАРТА *************/
#map {
	position: relative;
}
/************* /КАРТА ************/

/************* ПОДВАЛ *************/
footer {
	text-align: center;
	padding: 10px;
	color: var(--blue);
	font-size: 20px;
}
/************* /ПОДВАЛ ************/

/************* НОВОСТИ *************/
.news {
	width: 100%;
	margin-top: 50px;
}

.news__item {
	background-image: url('../img/bg_clouds_light.png');
	background-size: 100% 100%;
	height: 400px;
	padding: 40px;
	color: var(--blue);
	margin-bottom: 30px;
	overflow: hidden;
}

.news__info {
	display: flex;
}

.news__img {
	flex: 0 0 200px;
	height: 200px;
	background-size: cover;
	background-position: center center;
	margin-right: 20px;
}

.news__description {
	font-size: 18px;
	height: 190px;
	overflow: hidden;
}

.news__title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.news__date {
	text-align: right;
}
/************* /НОВОСТИ ************/

/************* СТРАНИЦА НОВОСТИ *************/
.article {
	margin-top: 50px;
	margin-bottom: 50px;
}

.article::after {
	content: '';
	clear: both;
	display: block;
}

.article__title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.article__img {
	width: 350px;
	float: left;
	margin-right: 30px;
}

.article__description {
	font-size: 18px;
}


/************* /СТРАНИЦА НОВОСТИ ************/

/************* СТРАНИЦА ВОСПИТАТЕЛЕЙ *************/
.mentors {
	margin-top: 50px;
	margin-bottom: 50px;
}

.mentor__item {
	margin-bottom: 30px;
}

.mentor__item > div {
	display: inline-block;
	vertical-align: top;
}

.mentor__photo {
	width: 250px;
	margin-right: 30px;
}

.mentor__photo img {
	width: 100%;
}

.mentor__info {
	font-size: 18px;
}

.mentor__info p {
	margin-bottom: 10px;
}
/************* /СТРАНИЦА ВОСПИТАТЕЛЕЙ ************/

/************* СТРАНИЦА *************/
.page {
	margin-top: 30px;
}

.page__description {
	font-size: 18px;
	text-align: justify;
}

.page__description img {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}
/************* /СТРАНИЦА ************/

/************* ВСПЛЫВАЮЩЕЕ СООБЩЕНИЕ *************/
#popup_msg {
	position: fixed;
	z-index: 15;
	top: 0;
	font-size: 19px;
	text-align: center;
	width: 100%;
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	animation: showPopupMsg .5s forwards, hiddenPopupMsg .5s 3s forwards;
}

.alert-danger {
	border-bottom-color: var(--danger);
}

.alert-success {
	border-bottom-color: var(--success);
}

@keyframes showPopupMsg {
	0% {
		transform: translateY(-100%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes hiddenPopupMsg {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(-100%);
	}
}
/************* /ВСПЛЫВАЮЩЕЕ СООБЩЕНИЕ ************/